body{
  font-size:1.2em;
}
/* resizes image */
.image-size {
  width:  48%;
  height: auto;
}
/*centers all the divs or paragraphs*/
.centered{
  margin:0 auto;
}
/* round corners of divs */
.rounded-corners{
  border-radius: 15px;
}
/* background grey div */
#gray-box {
  margin-top: 50px;
  background:#f2f2f2;
  width:80%;
  padding:20px 0;
  margin-bottom: 50px;
}
/* div with image */
#white-box {
  background:white;
  height:430px;
  width:50%;
  }
/* list with all the dates */
#text-box {
  margin-top: 10px;
  width:70%;
}
/* last paragraph */
#bottom-box {
 border-top-style: solid;
 border-top-color: #f2f2f2;
 padding-top: 70px;
}
p{
  width:80%;
  text-align:center;
}
